.footer {
  width: 100%;
  background-color: #262626;
}

.section {
  width: 100%;
  padding: 2rem 0;
  background-color: #212121;
  color: #fff;
  position: relative !important;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  position: relative !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 2rem !important;
}

.firstSection,
.secondSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  row-gap: 2rem;
}

.firstSection div,
.secondSection div {
  width: 43%;
}

.container div h3 {
  color: #18ab53;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.subSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 2rem;
}

.subSection ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
}

.subSection ul a {
  color: #fff;
}

.footer > p {
  text-align: center;
  color: #fff;
  padding: 1rem 0 2rem 0;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px !important;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px !important;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px !important;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px !important;
  }
}

@media screen and (max-width: 1025px) {
  .secondSection div {
    width: 40%;
  }

  .subSection {
    width: 50% !important;
  }

  .subSection div {
    width: 50% !important;
  }
}

@media screen and (max-width: 769px) {
  .firstSection div,
  .secondSection div {
    width: 100%;
  }

  .subSection div {
    width: 100% !important;
  }
}
