.section {
  width: 100%;
  overflow: hidden;
  position: relative !important;
  background-color: #212121 !important;
}

.container,
.containerVideo {
  width: 100% !important;
}

.containerVideo {
  margin: 0 auto;
  background-color: #212121 !important;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 100%;
  height: auto;
}

.overText {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.container h2 {
  width: 20ch;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.overText p {
  width: 50ch;
  font-size: 12px;
  font-weight: 400;
}

.overText div {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fff;
}

.overText div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.tag {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 50px;
  left: 5%;
  transform: rotate(90deg);
}

.tag div {
  padding: 3px 6px;
  background-color: #18ab53;
  color: #fff;
}

.icon {
  padding: 5px 12px !important;
  background-color: #212121 !important;
}

.icon i {
  transform: rotate(45deg) !important;
}

.tag div p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}

.arrowIcon {
  position: absolute;
  bottom: -20% !important;
  left: 5%;
  z-index: 111;
}

.cancelIcon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 111;
}
